PORT=3030

MONGO_URI=mongodb+srv://whiteboard:whiteboard@cluster0.4wyvcmc.mongodb.net/whiteboardDB?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=mysupersecretkey123456
JWT_REFRESH_SECRET=myrefreshsecret987654
